.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  font-weight: bold;
}

button {
  background-color: white;
  height: 120px;
  width: 120px;
  margin: 20px;
  font-size: 30px;
  border-radius: 10px;
  border: white;
  text-align: center;
}

span {
  font-size: 45px;
}

footer {
  font-style: italic;
  color: black;
  font-weight: bold;
}

.reset {
  background-color: #5c48d3;
  text-align: center;
  color: white;
  font-size: 20px;
}
